
$desktop-width: 500px;
$tablet-width: 620px;
$mobile-width: 420px;

$container-tablet: 600px;
$container-desktop-width: 500px;
$container-mobile: 300px;

$background-color-btn: #A4CB6C;
$text-color: #8cd6ea;
